.image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #c6a5a5;
}

.image img {
  width: 60%;
}

.tagline {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin-right: 5%;

  h1 {
    font-size: 46px;
  }

  h3 {
    font-size: 28px;
  }
}

@media (max-width: 1000px) {
  .tagline {
    h1 {
      font-size: 36px;
    }

    h3 {
      font-size: 18px;
    }
  }
}

@media (max-width: 640px) {
  .image {
    height: 220px;
    justify-content: flex-start;
    padding: 20px;
  }

  .image img {
    display: none;
  }
}
