<div class="item">
    <div class="image">
        <img src="{{ imgUrl }}" (mouseenter)="toggleDescription(true)" (mouseleave)="toggleDescription(false)" (click)="goToDetailedPage()">
        <div class="description" id="description" [ngClass]="{'description-hover': isDscrVisible}">
            <p>{{ pillow.description }}</p>
        </div>
    </div>
    <div class="title">
        <h4>
            <a href="{{ detailUrl}}" (mouseenter)="toggleDescription(true)" (mouseleave)="toggleDescription(false)">{{ pillow.pillowName }}</a>
        </h4>
        <p class="price">${{ pillow.price }}</p>
        <button [ngClass]="{none: !authService.isAdmin()}" (click)="goToDetailedPage()">More...</button>
    </div>
</div>
