<footer>
    <div class="info">
        <div class="mission">
            <h4>Our Mission</h4>
            <p>So seed seed green that winged cattle in. Gathering thing made fly you're no 
                divided deep moved us lan Gathering thing us land years living.</p>
            <p>So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved</p>
        </div>
        <div class="links">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div class="contact">
            <h4>Contact Us</h4>
            <div>
                <p class="title">Head Office</p>
                <p class="last">123, Main Street, Your City</p>
                <p class="title">Phone Number</p>
                <p>+123 456 7890</p>
                <p class="last">+123 455 9890</p>
                <p class="title">Email</p>
                <p>free@infoexample.com</p>
                <p>www.infoexample.com</p>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright ©2020 All rights reserved</p>
    </div>
</footer>
