<app-header></app-header>
<div class="banner">
    <h1>Contact Us</h1>
</div>
<div class="container">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.7482797033076!2d-0.13590588450104044!3d51.49948661910319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876058f69386b43%3A0xd6049d41c781c5e7!2s55%20Broadway!5e0!3m2!1sru!2sby!4v1607851464644!5m2!1sru!2sby" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="media">
        <div class="contacts">
            <div class="contacts-info">
                <h3>55 Broadway</h3>
                <p>Westminster, London</p>
            </div>
            <div class="contacts-info">
                <h3>+123 456 7890</h3>
                <p>Mon to Fri 9am to 6pm</p>
            </div>
            <div class="contacts-info">
                <h3>free@infoexample.com</h3>
                <p>Send us your query anytime!</p>
            </div>
        </div>
        <div class="form">
            <div class="inputs">
                <input type="text" maxlength="255" placeholder="Enter your name" required>
                <input type="email" maxlength="255" placeholder="Enter email" required>
                <input type="text" maxlength="255" placeholder="Enter Subject" required>
            </div>
            <div class="text">
                <textarea placeholder="Enter Message" required></textarea>
            </div>
        </div>
    </div>
    <button>Send Message</button>
</div>
<app-footer></app-footer>