<header>
    <div class="nav-container">
        <nav>
            <div class="logo">
                <a href="#"><img src="assets/img/logo.png" alt=""></a>
            </div>
            <div class="list">
                <a href="#" class="active">Home</a>
                <a href="#">About</a>
            </div>
        </nav>
    </div>
    <div class="image">
        <div class="tagline">
            <h1>Smart pillows</h1>
            <h3>We care about your dreams</h3>
        </div>
        <img src="assets/img/bgImg2.jpg" alt="">
        <!-- <img src="assets/img/gbImg3.jpg" alt=""> -->
    </div>
</header>
